%div{:class => "well"}
  %p
    %b
      = comment.user.email
      at
      = comment.created_at
      Rated:
      -a = comment.rate
      -if !a.nil?
        -a.times do |i|
          =image_tag("star.png")

    %p
    = comment.text

