
%div{:class => "well"}
  =image_tag(@hotel.photo_hotel, width:'215', height:'215', align:'right', class:'img-polaroid') if @hotel.photo_hotel?
  %h1= @hotel.title

  %p
    %b Rating:
    -a = @hotel.rating.to_i
    -if !a.nil?
      -a.times do |i|
        =image_tag("star.png")

  %p
    %b Price for room:
    =@hotel.price_for_room
    $

  %p
    %b Breakfast Included?:
    =@hotel.breakfast

  %p
    %b Address:
    =@hotel.address_country
    ,
    =@hotel.address_state
    ,
    =@hotel.address_city
    ,
    =@hotel.address_street


  %p
    %b Room Description:
    =@hotel.room_desc

-if @comments.any?
  %div{:class => "well"}
    %p
      %b Comments:
      = render @comments

%div
  %p

    %a{class:'btn btn-primary btn-large', href:new_comment_path(@hotel) }
      Add New Comment

